@font-face {
    font-family: 'DOS';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Fixedsys500c.eot');
    src: local('â˜º'), url('fonts/Fixedsys500c.woff') format('woff'), url('fonts/Fixedsys500c.ttf') format('truetype'), url('fonts/Fixedsys500c.svg') format('svg');
}
body {
    margin: 0;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 18px;
    line-height: 20px;
    color: #bbbbbb;
    background-color: #000084;
	
		
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
								  
}
.Page {
    margin-right: 10px;
}
.column {
    float: left;
    padding-top: 25px;
}
.left {
    width: 20%;
}
.right {
    width: 80%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
section:after {
    content: "";
    width: 100%;
    text-align: center;
    display: table;
    clear: both;
    height: 1px;
    margin-bottom: 15px;
    background: #bbbbbb;
}
section {
    display: block;
}

a {
    color: #fefe54;
    text-decoration: none;
}
a:hover, a:focus {
    color: #fefe54;
    background: #aa5500;
}
.TopNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BBBBBB;
}
.TopNav li {
    float: left;
}
.TopNav li a {
    display: block;
    color: #000084;
    text-align: left;
    padding: 0 10px;
    font-size: 18px;
    text-decoration: none;
}
.TopNav li a:hover {
    background-color: #111111;
    color: #BBBBBB;
    cursor: pointer;
}
.TopNav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    width: auto;
}
.TopNav ul li:hover > ul, .TopNav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.TopNav ul li ul li {
    clear: both;
    width: 100%;
    overflow: hidden;
}
.SideNav {
    display: none;
    padding: 10px 15px;
    margin-left: 25px;
    margin-right: 25px;
    border: 2px solid #000000;
    -webkit-box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    -moz-box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    box-shadow: 0 0 0 5px, 11px 13px 0 4px black;
    background-color: #BBBBBB;
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.SideNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BBBBBB;
}
.SideNav li a {
    display: block;
    color: #000084;
    text-align: left;
    padding: 0 10px;
    font-size: 18px;
    text-decoration: none;
}
.SideNav li a:hover {
    background-color: #111111;
    color: #BBBBBB;
}
.SideNav li > .active, .SideNav li > .active > a, .SideNav li > .active > a:hover, .SideNav li > .active > a:focus {
    color: #ffffff;
    background-color: #00aaaa;
}
.SideNav li > .inactive, .SideNav li > .inactive > a, .SideNav li > .inactive > a:hover, .SideNav li > .inactive > a:focus {
    color: #666666;
    font-style: italic;
}

#popupBox {
    width: 100%;
    height: 100%;
    z-index: 980;
    position: absolute;
    display: none;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 990;
}

.box0 {
    padding: 9px 14px 9px 14px;
    margin: 9px 4px 9px 4px;
    font-size: 18px;
    color: #ffffff;
    border: 2px solid #bbbbbb;
}
.box0 h1 {
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    text-decoration: blink;
}

.box1 {
    padding: 16px 20.8px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: #00aaaa;
    border: 4px double #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 0px, 11px 13px 0 4px black;
    -moz-box-shadow: 0 0 0 0px, 11px 13px 0 4px black;
    box-shadow: 0 0 0 0px, 11px 13px 0 4px black;
    min-width: 200px;
    min-height: 50px;
}
.box1 h1 {
    font-size: 18px;
    line-height: 1;
    color: #ffffff;
    text-align: left;
    text-decoration: blink;
    display: block;
    font-size: 2em;
    margin: 0px;
}
.box1 a {

    display: block;
    overflow: hidden;
    width: inherit;
    text-align: center;
    margin-top: 10px;
    bottom: 5px;
}

.error{
	background: #A5000C;
}

.progress
{
	width:300px;
	margin-top:3px;
	margin-bottom:3px;
	background:#BBBBBB;
	display:none;
}

.progress .bar {
    height: 15px;
    position: relative; 
    z-index:2;
    background: yellow;
    overflow: hidden;
    animation: progressBar 1.5s ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode:both;
    content:"";
    display:block;
}

@keyframes progressBar {
    0% { left:0;width: 0; }
    50% { left:0;width: 100%; }
    100% {left:100%;width: 0;}
}

.pheader {
    padding: 20px 20px;
    background: #00aaaa;
}
table.terminalTable {
	display: none;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.terminalTable td, table.terminalTable th {
    padding: 3px 4px;
}
table.terminalTable tbody td {
    font-size: 18px;
}
table.terminalTable td:nth-child(even) {}
table.terminalTable thead {
    background: #BBBBBB;
}
table.terminalTable thead th {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    text-align: left;
}
table.terminalTable tfoot td {
    font-size: 14px;
}
table.terminalTable tbody tr:hover {
    background-color: #00aaaa;
    color: #ffffff;
}
/*MS-DOS Parts*/

#MSDOS {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    padding-top: 25px;
    padding-left: 25px;

}
.dos {
    width: 100%;

}
.dos-l {
    float: left;
}
.dos-r {
    border: none;
    background: black;
    font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 18px;
    color: #bbbbbb;
    caret-shape: underscore;
}

.dos-r pre{
  margin:0;
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
  display: inline-block;
}
span.dos-cmdline{
	
}
span.dos-cmdline:focus {
    outline: none;
    caret-color: transparent;
}
pre.dos-caret > span.cursor {
    animation: dos-caret-blink 1s step-end infinite;
    border-bottom: 2px solid white;
}
@keyframes dos-caret-blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}
/*http://aleclownes.com/2017/02/01/crt-display.html*/

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 998;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position:fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 998;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}


.crt {
  z-index: 998;
}